name: code_classifier
text_field: text
pipeline:
  - name: ultrafineweb_annotator
    kwargs:
      text_field: text
      output_field: metadata.code_quality
      fast_text_file: ft_classifiers/code_classifier_python.bin
