# ╭─ Model Fit Metrics ─╮
# │ R-squared: 0.5930   │
# │ RMSE: 0.088592      │
# │ MAE: 0.065957       │
# │ MSE: 0.007849       │
# │                     │
# │ Bias: 0.536139      │
# ╰─────────────────────╯

# Learned Weights:
# ┏━━━━━━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━┓
# ┃ Component      ┃    Weight ┃ Contribution         ┃
# ┡━━━━━━━━━━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━┩
# │ __label__bin_0 │ -0.272538 │ -------------------- │
# │ __label__bin_4 │  0.219207 │ ++++++++++++++++     │
# │ __label__bin_1 │ -0.068032 │ ----                 │
# │ __label__bin_2 │  0.065547 │ ++++                 │
# │ __label__bin_3 │  0.055888 │ ++++                 │
# └────────────────┴───────────┴──────────────────────┘

name: code_classifier
text_field: text
pipeline:
    - name: ultrafineweb_annotator
      kwargs:
          text_field: text
          output_field: metadata.code_quality_auto5L
          max_text_length: 10000
          fast_text_file: /mnt/raid0/ai2-llm/classifiers/code-quality/trained_models/fasttext/the-stack-v2_spring2code_v2_minhash_v2_annotated_sample_1GB_countup_criteria_v2_gpt-5-mini_10k_trimmed_fasttext_ultrafine_auto5L/Python/model.bin
    - name: linear_transform_annotator
      kwargs:
          features:
              - field: metadata.code_quality_auto5L.__label__bin_0
                weight: -0.272538
              - field: metadata.code_quality_auto5L.__label__bin_1
                weight: -0.068032
              - field: metadata.code_quality_auto5L.__label__bin_2
                weight: 0.065547
              - field: metadata.code_quality_auto5L.__label__bin_3
                weight: 0.055888
              - field: metadata.code_quality_auto5L.__label__bin_4
                weight: 0.219207
          bias: 0.536139
          output_field: metadata.code_quality_auto5L_combined
